<!DOCTYPE html>
<html lang="nl" data-ng-app="ng-apimock" data-ng-strict-di>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>ng-apimock</title>

        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="js/_ngApimock.js"></script>
        <script src="js/ngapimock.component.js"></script>
        <script src="js/ngapimock.controller.js"></script>
        <script src="js/mocks.service.js"></script>
        <script src="js/variables.service.js"></script>
        <link href="css/main.css" rel="stylesheet"/>

    </head>
    <body>
        <div class="container">
            <h1>Scenario based api mocking support <small>by <a href="https://github.com/mdasberg/ng-apimock" target="_blank">ng-apimock</a></small></h1>

            <hr />
            <h4>How does it work?</h4>
            <p>
                It's very easy. Each line represents is an expression that matches a http call. <br />
                By selecting a scenario, the call will not go through to the backend, but will return the matching response for the selected scenario.
            </p>
            <br />

            <h4>Howtos</h4>
            <p>
            <a href="https://github.com/mdasberg/ng-apimock/blob/master/README.md#howto-write-mocks" target="_blank">Howto write mocks</a><br />
            <a href="https://github.com/mdasberg/ng-apimock/blob/master/README.md#howto-serve-selected-mocks" target="_blank">Howto serve selected mocks</a>
            </p>
            <br />
            <ng-apimock></ng-apimock>
        </div>
    </body>
</html>