#test
test

# typescript
**/*.ts
!**/*.d.ts
tslint.json
tsconfig.json

#travis
.travis.yml

#project
.idea
_config.yml
.npmignore
yarn.lock
.tmp/
spec

#docker
dockerize.js
docker

# generated
results