sudo: false
language: node_js
node_js:
  - "5"
  - "6"
install:
- npm install
before_script:
- npm install
script:
- npm run-script travis
addons:
  sauce_connect: true
env:
  global:
  - secure: o78qkywiMOb2q2eXPWX7KVLT6e9WqnRq91pUfAbF8lOoqIOr2wMD5Tc2ii7gsifBaeDTZctT6vUacYyqybykaNx49qx3X1IlR+I8fjDB3zMVIsG3ltfunpl5GUbsiC/RMcrsbI34grWOGtwZmk1/XXs4oKOWl3ti7KwFjpqfihV6nCVi9C6CxRS+9CnnssjUyE/ggegYqVMC7CId576x2WBvgAi+iuuAFMQOtqqS0E8uoN7EXMvtHYHDkWvGRz3mu3MRjAHBcI4OWypt07tvtGuk/hKbgbC6xLlswJ8WVTpFaRHiC+FXx5trAOfk+hSkyH+ZGzeK14dMMpuSXvYmsNrBJpOeN5KnCkmarAa3hzDp9yMQ9MWfvCw3bNs0xyGB+SD7eqP403RKlmYVPKxMAjoozASpqiUEqfRRSpNXtLVw3hJSYbivoB2Oas4/tbCk9fGGixBOY3HO25/qyE1LZ9mPDxXzIqIrVZ/aiTMCAxD7Ed4zvEVV5KC7OdcwRxMd5uP+ovR2hyf1CnS857B11LXGFVQ7JTdH72m3QWZU3bGXZAGgy8yg429+RNTZk43bOaQrvkjvKEx8540TFRtqioveHFXanIZEnmkwzs+4+27cyJF925zpkZtK/vvu6TUsjhSjkXcv0lvYx013/FlwE+aKAhlg3e59gLxoQCBU8bQ=
  - secure: dyMVlLVuMGw3sG0G6rUn7/K3buuoy5w8xLuyjdZTRh1JjiTk2IDYjt564aTA982VXEvvRn+4cTodwzM3JVTe81TYQJjmFtmON0A4NFAiDR8mFDt/O/YaRYEsRHuxtUFTWQv2aQbivHcU9AaJfglIEvxut/R9BwAeqTYwkw9NwGYciORISPYKaElZfeY8zbE4hvotkzE5OXaQdc5hEbl6ATnm3prsVWyzMmILMBUVPemMF5iJh9DGxqX2iwcVZwF2rbz9eBo0f4BckjeIgH6r8YVbYA6eU/R2IIMcCNq/T3G04+KaYauGRLWIJE1BzGQ1lmPb3jXz2G06y1wtaVfkoWRRvvwkPPBAvUiQoS/ksCEPsCqttB7X2aeUsH9dxMk2Zeg7wPBWixJHbZWXV5p5OXnhzDlMEIFommgCVqZZ+mgTGQEB8wkTOnKRR/ommlfsD8mZLXYgR1leeATl6RWCaLmaOzzQjYrZ/WMXGJvGDYROLTweMSfXWOGlSIxNBowtd8G4hFaP5OSYz2CQ4ttySSJ2IcdjIesAoGXk0Zk9Grjv+CG9nl6oJwezbobrUr2GcH0V0mmXv5mw5WAfUQQbvEdOGKV4DpIIFWAdG36Qh9ZiFz/lNv5rbLJOw7uqY1PIeOtc1m4wUkbJUU/eTgo5/t3NqTRSAjSPfiML2h1X760=
notifications:
  email:
    on_success: always
    on_failure: always
