<h1>My list</h1>
<p>
    <span>response data: <span ng-bind="$ctrl.list.data"></span></span><br/>
    <span>response error: <span ng-bind="$ctrl.list.error"></span></span>
</p>
<p>
    <span name="loading">
        <span ng-if="$ctrl.loading">loading</span>
        <span ng-if="!$ctrl.loading">finished</span>
    </span>
</p>

<button ng-click="$ctrl.refresh()">refresh</button>
<button ng-click="$ctrl.refreshJsonP()">refresh with jsonp callback</button>

<h1>POST data with service</h1>
<button ng-click="$ctrl.post()">post me</button>
<p>
    <span>data: <span>{{$ctrl.update.data}}</span></span><br/>
    <span>error: <span>{{$ctrl.update.error}}</span></span><br/>
    <span>logging: <span>{{$ctrl.update.logging}}</span></span>
</p>

<h1>Get binary data with service</h1>
<button ng-click="$ctrl.download()">download</button>