<div ng-controller="SomeController as ctrl">
    <h1>GET data with service</h1>
    <p>
        <span>data: <span>{{ctrl.data}}</span></span><br/>
        <span>error: <span>{{ctrl.error}}</span></span>
    </p>
    <button ng-click="ctrl.refresh()">refresh</button>
    <button ng-click="ctrl.refreshJsonP()">refresh with jsonp callback</button>

    <h1>POST data with service</h1><button ng-click="ctrl.update()">post me</button>
    <p>
        <span>data: <span>{{ctrl.postedData}}</span></span><br/>
        <span>error: <span>{{ctrl.postedError}}</span></span><br />
        <span>logging: <span>{{ctrl.logging}}</span></span>
    </p>

    <h1>Get binary data with service</h1><button ng-click="ctrl.download()">download</button>

    <h1>Get data with delay using the hold function</h1>
    <button ng-click="ctrl.refresh()" id="delayed-button">get data</button>
    <div ng-if="ctrl.loading" id="loading-message">Getting your data, not yet ready</div>
    <div ng-if="ctrl.success" id="loading-success">Loading done</div>
</div>